.ui.stackable.page.grid
  .two.column.row
    .column
      .ui.fluid.form.segment
        = render partial: "shared/login"
    .column
      .ui.fluid.form.segment
        = render partial: "shared/register"
